@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Frank Ruhl Libre', serif;
*/

html{
    scroll-behavior: smooth;
}
*{
    margin:0;
   
}
body{
    overflow-x: hidden;
}
/*header*/


a:link,a:visited{
    color: black;
    text-decoration: none;
    transition: 0.2s;
}



header{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    width: 100%;
    height: 25vh;

}

header > .logo >a >img{
    max-width: 5em;
    max-height: 5em;
    pointer-events: none;
    margin: 2em 2em 0em 2em;

}
header > .logo >h4{
 cursor: default;
 margin: 0em 2em 2em 2em;


}
.logo{
   
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.logo > h4{
    font-weight: 400;
    letter-spacing: .2em;
    font-size: 1em;
    white-space: nowrap;
}

header > nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header > nav >ul{
    display: flex;
    list-style: none;
}

header > nav >ul > li{
    margin-right: 3em;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    letter-spacing: .3em;
    text-transform: uppercase;
    font-weight: 400;
}
header > nav >ul >li>a>span{
    color: #82DDFF;
}

header > nav >ul > li> a:hover{
    color: #CB9478
}
/*header*/

@media (max-width:900px) {
    header{
        font-size: .6rem;
        padding: 0;

    }
}
@media (max-width:400px) {
    header{
        font-size: .5rem;
    }
}


/*section 1*/
.section1{
    display: flex;
    justify-content: center;
    margin-bottom: 5em;

}

.left{
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

}

.left > .top{
    transform: translateX(5em);
}

.left > .top >p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: .7em;
    letter-spacing: .2em;
    transform: translateX(27px);
    margin-top: -20px;
    animation: leftRight2 1000ms;
}

.left> .top> .mal{
    font-size: 4em;
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 500;
    margin-bottom: -35px;
    animation: upDown 1000ms ;
}

.left> .top> .gan{
    font-size: 4em;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    transform: translateX(75px);
    animation: leftRight 1000ms;
}


.left > .bot > p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.3em;
    line-height: 1.3em;
    width: 60%;
    text-align: right;
    float: right;
    opacity: 1;
    letter-spacing: normal;
    padding-bottom: 3em;
    padding-right: 4em;

}

span{
    color: #0066FF;
}
.right{
    width: 50%;
}
.section1>.right > img{
    width: 70%;
    height: auto;
    background-size: cover;
}





@keyframes upDown{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }     
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes leftRight{
    0%{
        transform: translateX(200px);
        opacity: 0;
    }
    
    100%{
        transform: translateX(75px);
        opacity: 1;

    }
}
@keyframes leftRight2{
    0%{
        transform: translateX(200px);
        opacity: 0;
    }
    
    100%{
        transform: translateX(27.5px);
        opacity: 1;

    }
}

@keyframes moving{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
        
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@media (prefers-reduced-motion: reduce) {
    *, ::before, ::after {
      animation-delay: -1ms !important;
      animation-duration: 1ms !important;
      animation-iteration-count: 1 !important;
      background-attachment: initial !important;
      scroll-behavior: auto !important;
      transition-duration: 0s !important;
      transition-delay: 0s !important;
    }
  }
/*contacts*/

.contacts{

    font-size: 1rem;
    margin-top: 10em;
}

.text{
    height: 50%;
    width: 100%;
}

.contacts > .text > h3, .contacts > .text > p   {
    text-align: center;
}

.contacts > .text > h3{
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 700;
    text-decoration: underline;
    font-size: 2em;
    letter-spacing: .1em;
    
}

.contacts > .text > p {
    font-family: 'Poppins', sans-serif;
    margin-top: 1em;
    opacity: 1;
    letter-spacing: .1em;
    font-size: 1.2em;
    font-weight: 300;
}

.icon{
    display: flex;
    gap: 5em;
    justify-content: center;
    padding: 5em;
}


.icons{
    text-align: center;
}

.img{
   display: flex;
    justify-content: center;
}

.contacts > .icon> .icons>p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    letter-spacing: .2em;
    opacity: .5;
    margin-top: .5em;
}

svg{
    transition: 250ms;
    cursor: pointer;
}
svg:hover{
    fill: #0066FF;

}
/*contacts*/


@media (max-width: 1000px) {
    .section1{
        font-size: .8rem;
    }

}
@media (max-width: 800px) {
    .section1{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        gap: 2em;
    }
    .right{
    width: fit-content;
    display: flex;
    justify-content: center;
    }
.left > .top{
    transform: translateX(0em);
   
}
.left{
    display: flex;
    gap: 2em;
}

.left> .bot{
    display: flex;
    justify-content: center;
}
.left > .bot > p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.5em;
    opacity: 1;
    letter-spacing: normal;
    text-align: center;
    padding: 0;
    width: 100%;
}

.contacts{
    font-size: .7rem;
}
}


/*footer*/
footer{
    background-color: #E8E8E8;
    width: 100%;
    height: 400px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
footer > .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
footer > .main > img{
    max-height: 80px;
    max-width: 80px;


}
footer > .main >.text{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 2px;
    color:#727272;
    font-weight: 500;
}

footer > .main >.text>li{
    list-style: none;
}

footer > .main >.text>li{
    list-style: none;
    margin-top: 25px;
}

footer > .copyright{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
/*footer*/



@media (max-width:500px) {
    header{
        font-size: .5rem;

        padding: 0;
        height: 10%;
        width: 100%;
    }
 

    footer{
        font-size: .8rem;
        width: 100%;
    }
    .left> .top> .gan{
        transform: translateX(0px);
    }
    .contacts{
        font-size: .6em;
        gap: .5em;
    }
    svg{
        height: 40px;
        width: 40px;
    }
}


@media (max-width:400px) {
    header{
        font-size: .6rem;
        padding: 0;
        height: 10%;
        width: 100%;
        flex-direction: column;
        padding-bottom: 2em;

    }
 
    nav > ul > li> a{
        font-weight: 600;
    }
    .logo > h4{
        scale: 0;
    }

    footer{
        font-size: .8rem;
        width: 100%;
    }
}